	h1{
        text-align: center;
        font-size: 32px;
    }
    ul li{
        height: 10px;
        margin-bottom: 2px;
        text-align: center;
        line-height: 10px;
    }
	ul >li> div{
		margin-right: 2px;
		display: inline-block;
		width: 10px;
		height: 10px;
		background-color: #ccc;
	}
    #map {
        text-align: center;
    }
    #map button{
        width: 60px;
        margin: 20px;
    }